*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
/*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
:root{
    --color-primario: #fff;
    --fondo-main: #ffe4c4;
    --background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7))
}
body{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";

}
header{
    grid-area: header;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/imagenes/empandaheader.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
.contenedor-header{
    display: flex;
    border: 1px solid darkgray;
    margin: 1rem;
    justify-content: space-around;
}

.menu{  
    display: flex;
    width: 40%;
}
.menu2{
    display: flex;
    width: 20%;
}
.menu li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu a{
    text-transform: uppercase;
    margin: 2rem;
    text-decoration: none;
    color: var(--fondo-main);
    transition: 1s;
}
.menu a:hover{
    letter-spacing: 2px;
}
.menu2 li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;

}
.menu2 a{
    text-transform: uppercase;
    margin: 2rem;
    text-decoration: none;
    color: var(--fondo-main);
    transition: 1s;
}
.menu2 a:hover{
    letter-spacing: 2px;
}
.img-logo{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.contenedor-texto{
   display: flex;
   justify-content: center;
   text-transform: uppercase;
   width: 80%;
   margin: 0 auto;
   color: var(--fondo-main);
} 
.contenedor-texto h1{
    padding: 1rem;
}  






main{
    grid-area: main;
    background-color: var(--fondo-main);
}

.contenedor-ecommerce{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:1rem;
}
.ecommerce-menu{
    background-color: rgba(4,9,30,0.7);
    color: var(--color-primario);
    border-radius: 1rem;  
    height: 380px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}
.productos{
    background-color: rgba(4,9,30,0.7);
    color: var(--color-primario);
    border-radius: 1rem;  
    height: 380px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    gap:3rem;
}
.contenedor-carrito{
    background-color: #97601d;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.img-carrito{
    width: 50px;
    height: 50px;
}
main div div img{
    width: 200px;
    height: 200px;
    width: 100%;
    padding: .5rem;
    object-fit: cover;
}
main div div h1{
    font-size: 1rem;
    margin: 1rem;
}
main div div button{
    border-radius: 1rem;
    padding: .5rem;
    text-transform: uppercase;
    background-color: none;
    border: none;
    margin: 1rem;
    transition: 1s;
}
main div div button:hover{
    background-color: var(--fondo-main);
    border: 1px solid black;
}




footer{
    grid-area: footer;
    background-color: rgba(4,9,30,0.7);
}
.contenedor-footer{
    display: flex;
    justify-content: space-around;
}
.contenedor-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--color-primario);
}
.contenedor-input p{
    text-transform: uppercase;
    padding: 1rem;
}
.contenedor-redes{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.redes{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin: 2rem;
    cursor: pointer;
}
.direction{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    color: var(--color-primario);
    margin: 2rem;
}



/*REGISTRARSE.HTML*/



.contenido{
    display: flex;
}

fieldset{
    width: 30%;
    margin: 10px auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #ffe4c4;
    justify-content: center;
    align-items: center;
    border: 1px solid peru;
}
.fielTitulo{
    text-transform:uppercase;
    padding: 1rem;
}

article{
    width: 50%;
    margin: 10px auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #ffe4c4;
    justify-content: center;
    align-items: center;
    border: 1px solid peru;
}
thead tr{
    display: flex;
    gap: 6rem;
    border-bottom: 1px solid #333;
}
.botones{
    background-color: #fff;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}